<div style="text-align:center;">
  <h1 class="title">
    tic-tac-toe
  </h1>
  <div class="winner" *ngIf="winner">
    <span *ngIf="winner !== 'tie'">Winner : Player {{winner}}</span>
    <span *ngIf="winner === 'tie'">Tie!!</span>&nbsp;|&nbsp;<a (click)="reset()">Restart</a>
  </div>
  <div class="board">
    <div class="wrapper">
      <div class="cell one" (click)="play(0,0)" [style.color]="user===board[0][0]?'#80FF00':'#FFFFFF'">{{board[0][0]}}</div>
      <div class="cell two" (click)="play(1,0)" [style.color]="user===board[1][0]?'#80FF00':'#FFFFFF'">{{board[1][0]}}</div>
      <div class="cell three" (click)="play(2,0)" [style.color]="user===board[2][0]?'#80FF00':'#FFFFFF'">{{board[2][0]}}</div>
      <div class="cell four" (click)="play(0,1)" [style.color]="user===board[0][1]?'#80FF00':'#FFFFFF'">{{board[0][1]}}</div>
      <div class="cell five" (click)="play(1,1)" [style.color]="user===board[1][1]?'#80FF00':'#FFFFFF'">{{board[1][1]}}</div>
      <div class="cell six" (click)="play(2,1)" [style.color]="user===board[2][1]?'#80FF00':'#FFFFFF'">{{board[2][1]}}</div>
      <div class="cell seven" (click)="play(0,2)" [style.color]="user===board[0][2]?'#80FF00':'#FFFFFF'">{{board[0][2]}}</div>
      <div class="cell eight" (click)="play(1,2)" [style.color]="user===board[1][2]?'#80FF00':'#FFFFFF'">{{board[1][2]}}</div>
      <div class="cell nine" (click)="play(2,2)" [style.color]="user===board[2][2]?'#80FF00':'#FFFFFF'">{{board[2][2]}}</div>
    </div>
  </div>
</div>
<div class="footer">
  Player {{user}} <span *ngIf="turn">[*]</span>
</div>
